<!-- components/directory_selector.html -->

<div>
    <input type="file" id="directorySelector" webkitdirectory="true" directory="true" style="display:none">
    <button id="browseButton">Browse Directory</button>
  </div>
  
  <script>
    document.getElementById('browseButton').onclick = function () {
      document.getElementById('directorySelector').click();
    };
  
    document.getElementById('directorySelector').addEventListener('change', function (e) {
      const selectedDirectory = e.target.files[0].path;
      const event = new CustomEvent('directory-selected', { detail: selectedDirectory });
      document.dispatchEvent(event);
    });
  </script>
  